body { 
    margin: 0; 
    background: #222; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    font-family: sans-serif; 
}
canvas { 
    background: #000; 
    border: 2px solid #555; 
}
.controls { 
    margin-top: 10px; 
    color: #aaa; 
    font-size: 20px;
    font-weight: bold;
}
h2 {
    margin-bottom: 10px;
}
